{% extends 'tienda/base.html' %}
{% load static %}
{% block title %} Crear Categoría {% endblock %}
{% block contenedor %}

<style>

    .formulario_contenedor {
        padding: 30px;
        background-color: #8F82B7;
        width: 600px;
        margin-left: 30%;
        border-radius: 50px;
        box-shadow: 0 0 20px gray;
    }

    label {
        color: white
    }

    input {
        width: 500px !important;
    }

    .enviar_formulario {
        background-color: #FFFFFF;
        border: 2px solid transparent;
        color: #8F82B7;
    }

    .enviar_formulario:hover {
        background-color: #8F82B7;
        color: #000000;
        border: 2px solid #000000;
    }

</style>

{% if id %}
    <h3>Editar: {{ data.id }}</h3>
{% else %}
    <h3 class="m-3">Crear: </h3>
{% endif %}

<div class="formulario_contenedor">
        <form method="post" action="{% url 'tienda:categorias_guardar' %}">
            {% csrf_token %}
            <div class="mb-3" hidden>
                <label class="form-label">ID de la Categoría:</label>
                <input class="form-control" type="text" name="id" value="{{ data.id }}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre de la Categoría:</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{ data.nombre }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción de la Categoría:</label>
                <input type="text" class="form-control" placeholder="Descripción" name="descripcion" value="{{ data.descripcion }}">
            </div>

            {% if id %}
                <button type="submit" class="btn btn-primary enviar_formulario">Actualizar</button>
            {% else %}
                <button type="submit" class="btn btn-primary enviar_formulario">Crear</button>
            {% endif %}
        </form>
    </div>

{% endblock %}