{% extends 'tienda/base.html' %}
{% load static %}
{% block title %} Crear Producto {% endblock %}
{% block contenedor %}

<style>

    .formulario_contenedor {
        padding: 30px;
        background-color: #8F82B7;
        width: 600px;
        margin-left: 30%;
        border-radius: 50px;
        box-shadow: 0 0 20px gray;
    }

    label {
        color: white
    }

    input, select {
        width: 500px !important;
    }

    .enviar_formulario {
        background-color: #FFFFFF;
        border: 2px solid transparent;
        color: #8F82B7;
    }

    .enviar_formulario:hover {
        background-color: #8F82B7;
        color: #000000;
        border: 2px solid #000000;
    }

</style>

{% if id %}
    <h3>Editar: {{ data.id }}</h3>
{% else %}
    <h3 class="m-3">Crear: </h3>
{% endif %}

<div class="formulario_contenedor">
    <form method="post" action="{% url 'tienda:productos_guardar' %}" class="forms">
    {% csrf_token %}
            <div class="mb-3" hidden>
                <label class="form-label">ID del Producto:</label>
                <input class="form-control" type="text" name="id" value="{{ data.id }}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre del Producto:</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{ data.nombre }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Precio del Producto:</label>
                <input type="number" class="form-control" placeholder="Precio" name="precio" value="{{ data.precio }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha del Producto:</label>
                <input type="date" class="form-control" placeholder="Fecha de la Compra" name="fecha_compra" value="{{ data.fecha_compra|date:'Y-m-d' }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Stock del Producto:</label>
                <input type="number" class="form-control" placeholder="Stock" name="stock" value="{{ data.stock }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Foto del Producto:</label>
                <input type="file" class="form-control" placeholder="Foto" name="foto" value="{{ data.foto }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Categoría del Producto:</label>
                <select name="categoria" class="form-control">
                    <option value="">Seleccione</option>
                    {% for c in categoria %}
                        <option value="{{ c.id }}" {% if data.categoria.id == c.id %}selected=""{% endif %} >{{ c.nombre }}</option>
                    {% endfor %}
                </select>
                <div class="form-text">Recuerda que la categoría es la clasificación de tu producto.</div>
            </div>

            {% if id %}
                <button type="submit" class="btn btn-primary enviar_formulario">Actualizar</button>
            {% else %}
                <button type="submit" class="btn btn-primary enviar_formulario">Crear</button>
            {% endif %}
    </form>
</div>


{% endblock %}