    {% extends 'tienda/base.html' %}

{% load static %}

{% block title %} Catálogo {% endblock %}

{% block contenedor %}

    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col col-3">
                <div class="list-group categorias_catalogo" style="width: 180px; margin-left: -70px; margin-top: 80px">
                    <a href="{% url 'tienda:catalogo' 'no' %}?id=0" class="list-group-item list-group-item-action list-group-item-warning active" aria-current="true">
                        Todos
                    </a>
                    {% for c in categorias %}
                        <a href="{% url 'tienda:catalogo' 'no' %}?id={{ c.id }}" class="list-group-item list-group-item-action list-group-item-warning {% if request.session.submenu == 0 %}active{% endif %} ">{{ c.nombre }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col col-9">
                <div class="card contenedor_productos_catalogo" style="width: 1092px !important; margin-left: -200px;">
                    <h5 class="card-header">Catálogo</h5>
                    <div class="card-body">
                        {% for p in productos %}
                            {% if forloop.first %}
                                <div class="row">
                            {% endif %}
                                <div class="card" style="width: 18rem; float:left;">
                                    <img src="{{ p.foto.url }}" class="card-img-top" alt="..." >
                                    <div class="card-body">
                                        <h5 class="card-title">{{ p.nombre }} (${{ p.precio }})</h5>
                                        <p class="card-text text-sm text-muted">
                                            <figcaption class="blockquote-footer mt-1">
                                                <cite>Categoría: {{ p.categoria.nombre }}</cite>
                                            </figcaption>
                                        </p>
                                        <form action="{% url 'tienda:carrito_agregar' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ p.id }}">
                                            <input type="number" min="1" max="{{ p.stock }}" value="1" size="3" style="text-align: center;" name="cantidad">
                                            <button type="submit" class="btn btn-primary">Add Carrito</button>
                                        </form>
                                    </div>
                                </div>

                            {% if forloop.counter|divisibleby:3 %}
                                </div>
                                <div class="row">
                            {% endif %}

                            {% if forloop.last %}
                                </div>
                            {% endif %}


                        {% endfor %}



                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}