{% load humanize %}
{% if datos %}
{% for i in datos %}
<div id="producto_carrito" style="position: relative; border: 1px solid #dadada; padding: 10px; margin: 10px;">
    <img src="{{ i.foto }}" style="width: 100px; height: 100px; ">
    <div style="margin-left: 10px">
        <input type="hidden" name="id" value="{{ i.id }}">
        <input type="hidden" name="precios" value="{{ i.precio }}" style="width:100px;">
        <h2 style="font-size: 20px; font-weight: bold">{{ i.nombre }}</h2>
        <h6 id="subtotal_{{ i.id }}">$ {{ i.subtotal|intcomma }}</h6>
        <!--<input type="hidden" id="subtotal_memoria_bruto{{ i.id }}" value="{{ total }}">-->
        <input type="number" min="1" max="{{ i.stock }}" name="cantidades"
               onchange="actualizar_totales({{ i.id }}, this.value, {{ i.precio }}); actualizar_carrito(`{% url 'tienda:carrito_actualizar' %}`, {{ i.id }}, this.value);"
               onkeyup="actualizar_totales({{ i.id }}, this.value, {{ i.precio }}); actualizar_carrito(`{% url 'tienda:carrito_actualizar' %}`, {{ i.id }}, this.value);"
               value="{{ i.cantidad }}"
               style="border: 2px solid #dadada !important; border: 2px solid black; width: 60px; text-align: center !important; ">
    </div>
    <div style="position: absolute; top: 0; right: 5px;">
        <a href="{% url 'tienda:carrito_eliminar_producto' i.id %}" style="color: black; text-decoration: none;">X</a>
    </div>
</div>

{% endfor %}
<!--<input type="hidden" id="total_carrito_bruto" value="{{ total }}">-->
<h6 id="total_carrito">Total: $<span id="total_carrito">{{ total|intcomma }}</span></h6>
<a href="{% url 'tienda:establecer_venta' %}" class="btn btn-info">Pagar</a>
{% else %}
<p>Carrito Vacío</p>

{% endif %}