{% extends 'tienda/base.html' %}
{% load static %}
{% block title %} Crear Pedido {% endblock %}
{% block contenedor %}

{% if id %}
    <h3>Editar: {{ data.id }}</h3>
{% else %}
    <h3 class="m-3">Crear: </h3>
{% endif %}

<br> <br>
<form method="post" action="{% url 'tienda:pedidos_guardar' %}">
    {% csrf_token %}
    <div class="input-group m-3">
        <span class="input-group-text"><i class="bi bi-hash"></i></span>
        <input class="form-control" type="text" name="id" value="{{ data.id }}" readonly>
    </div>
    <div class="input-group m-3">
        <span class="input-group-text"><i class="bi bi-file-person-fill"></i></span>
        <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" value="{{ data.descripcion }}">
    </div>
    <div class="input-group m-3">
        <span class="input-group-text"><i class="bi bi-calendar"></i></span>
        <input type="date" class="form-control" placeholder="Fecha" name="fecha" value="{{ data.fecha|date:'Y-m-d' }}">
    </div>
    <div class="input-group m-3">
        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
        <input type="number" class="form-control" placeholder="Precio" name="precio" value="{{ data.precio }}">
    </div>
    <!--
    <div class="input-group m-3">
        <span class="input-group-text"><i class="bi bi-bookmark"></i></span>
        <select name="usuario" class="form-control">
            <option value="">Seleccione:</option>
            {% for u in usuarios %}
                <option value="{{ u.id }}" {% if data.usuario.id == u.id %}selected=""{% endif %}>{{ u.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    -->
    <br>

    {% if id %}
    <button type="submit" class="btn btn-primary m-3">Actualizar</button>
    {% else %}
    <button type="submit" class="btn btn-primary m-3">Crear</button>
    {% endif %}
</form>


{% endblock %}