{% extends 'tienda/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Pedidos{% endblock %}
{% block contenedor %}

<div>
    <nav aria-label="breadcrumb" id="miga">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
            <li class="breadcrumb-item">Pedidos</li>
            <li class="breadcrumb-item active" aria-current="page">Listar pedidos</li>
        </ol>
    </nav>
</div>

<a class="btn btn-success m-3" href="{% url 'tienda:pedidos_formulario' %}">Crear</a><br><br>

<form class="d-flex" role="search" method="post" action="#">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar"
           value="{{ buscado }}">
    <a class="btn btn-outline-success" href="" type="button"><i
            class="bi bi-arrow-left-square"></i></a>
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>

{% if data %}
<table class="table table-hover m-3">
    <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Precio</th>
        <th>Acciones</th>
    </tr>
    {% for p in data %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.descripcion }}</td>
        <td>{{ p.fecha }}</td>
        <td class="text-end">${{ p.precio|intcomma }}</td>
        <!--<td>
            {% if p.usuario.nombre == "Lionel" %}
                <button type="button" class="btn btn-primary position-relative">
                    {{ p.usuario }}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        Nuevo
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            {% else %}
                {{ p.usuario }}
            {% endif %}
        </td>-->
        <td>
            <a href="{% url 'tienda:pedidos_editar' p.id %}" class="btn btn-info">Editar</a>
            <a href="javascript:confirmar_eliminar('{{ p.id }}', '{% url 'tienda:pedidos_eliminar' p.id %}?id=');"
               class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only"></span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<script>
    function confirmar_eliminar(id, url) {
    if (confirm("¿Estás seguro de que deseas eliminar este pedido?")) {
        window.location.href = url + id;
    }
  }
</script>
</body>
</html>
{% endif %}

{% endblock %}
