<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
    <style>
        div{
            border: 1px solid #3cff00;
            background-color:black;
            color: #3cff00;
        }

        
    </style>
</head>
<body>
    
    <div>
        <section class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <img src="descarga (1).jpeg" alt="" height="300px" width="300px">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <img src="descarga.jpeg" alt="" height="300px" width="300px">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <img src="FOg7TcJXIAIQtyE.jpeg" alt="" height="300px" width="300px">
            </div>
        </section>
    </div>

        
</body>
</html>