{% extends 'tienda/base2.html' %}
{% load static %}

{% block contenedor %}
<body style="background-image: url('{% static 'tienda/img/banner_inicio.jpg' %}') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;">
    <a href="{% url 'tienda:index' %}">
        <img id="logo" src="{% static 'tienda/img/logo_mascotitas.png' %}" alt="" height="100px" width="100px" >
    </a>

    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página.</p>
                    <button id="btn__iniciar-sesion" class="btn">Iniciar sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Regístrate para que puedas iniciar sesión.</p>
                    <button id="btn__registrarse" class="btn">Registrarse</button>
                </div>
            </div>
            <!--Formulario de login y registro-->
            <div class="contenedor__login-register">
                <!--Login-->
                <form action="{% url 'tienda:login' %}" method="post" class="formulario__login">
                    {% csrf_token %}
                    <h2>Iniciar sesión</h2>
                    <input id="usuario" type="text" placeholder="Nombre de usuario" required name="nick">
                    <input type="password" id="contrasenaInicio" placeholder="Contraseña" required name="password">
                    <button type="button" style="position: absolute; display: inline; margin-top: -43px; margin-left: 270px; background-color: transparent; color: black;" id="btnMostrarContrasenaInicio" onclick="toggleMostrarContrasenaInicio()">
                        <span id="iconoMostrarInicio" class="bi bi-eye-fill"></span>
                        <span id="iconoOcultarInicio" class="bi bi-eye-slash-fill"></span>
                    </button>
                    <a href="{% url 'tienda:recuperar_contrasena' %}" class="btn recuperar_contrasena_boton" style="color: #8F82B7 !important; margin-left: -12px !important;">¿Has olvidado tu contraseña?</a>
                    <button class="entrar" type="submit" class="btn">Entrar</button>
                </form>
                <!--Registro-->
                <form action="" class="formulario__register">
                    <h2>Registrarse</h2>
                    <input type="text" placeholder="Nombre completo" required>
                    <input type="text" placeholder="Correo electrónico" required>
                    <input type="text" placeholder="Usuario" required>
                    <input type="password" id="contrasenaRegistro" placeholder="Contraseña" required>
                    <button type="button" style="position: absolute; display: inline; margin-top: -43px; margin-left: 270px; background-color: transparent; color: black;" id="btnMostrarContrasenaRegistro" onclick="toggleMostrarContrasenaRegistro()">
                        <span id="iconoMostrarRegistro" class="bi bi-eye-fill"></span>
                        <span id="iconoOcultarRegistro" class="bi bi-eye-slash-fill"></span>
                    </button>
                    <input type="password" id="confirmarContrasena" placeholder="Confirmar contraseña" required>
                    <button type="button" style="position: absolute; display: inline; margin-top: -43px; margin-left: 270px; background-color: transparent; color: black;" id="btnMostrarConfirmarContrasena" onclick="toggleMostrarConfirmarContrasena()">
                        <span id="iconoMostrarConfirmar" class="bi bi-eye-fill"></span>
                        <span id="iconoOcultarConfirmar" class="bi bi-eye-slash-fill"></span>
                    </button>

                    <button class="registrarse" onclick="validarContrasena()" class="btn">Registrarse</button>
                </form>
            </div>
        </div>
    </main>
    <!--<script src="../js/script2.js"></script>-->
</body>

</html>
{% endblock %}