* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
}

/*---------------------------INDEX---------------------------------*/

/*Barra de navegación y banner principal*/
.contenedor_productos_catalogo{
    width: 1800px !important;
}

#barra{
    background-color:#FFFFFF !important;
    color: black !important;
    width: 100% !important;
}

#logo {
    width: 70px;
    height: 70px;
}
#usuario {
    text-align:normal !important;
}
#miga {
    background-color: #FFFFFF !important;
}

#banner {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

#boton_registrarse {
    width: 100% !important;
    background-color: #8F82B7 !important;
    color: white !important;
}

#boton_registrarse:hover {
    background-color: #FFFFFF !important;
    color:#8F82B7 !important;
    border: solid 2px #8F82B7;
}

/*Nuestros productos*/

#seccion_productos {
    margin-top: 850px;
}

.titulo_lista-productos{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#contenedor__lista-productos {
    text-align: center;
    margin: auto;
}

#contenedor__producto{
    display:block;
}

.boton_comprar {
    border: solid 2px transparent !important;
    background-color: #8F82B7 !important;
    color: white !important;
    display: block;
    justify-content: center;
    margin: auto;
    width: 400px;
    margin-bottom: 10px;
    outline: none;
}

.boton_comprar:hover {
    background-color: #FFFFFF !important;
    color: #8F82B7 !important;
    border: 2px solid #8F82B7 !important;
}

/*SOBRE NOSOTROS*/


.titulo_sobre_nosotros {
    font-size: 45.15px;
    text-align: center;
    margin-top: 50px;
}

.subtitulo_sobre_nosotros {
    text-align: center;
    margin-bottom: 50px;
}

#contenedor__equipo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-top: 100px;
}

.equipo {
    width: 400px;
    max-width: 800px;
    height: 400px;
    position: relative;
    margin-right: 60px;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1450px) {
    .equipo {
        width: 100%;
        max-width: none;
        height: auto;
        margin-right: 0;
        text-align: center;
    }

    .equipo h4 {
        position: relative;
        top: 0;
        /* Restaura la posición original del nombre */
    }
}

@media (max-width: 780px) {

    #botones_registrarse_iniciarsesion {
        grid-template-columns: 1fr;
        /* Una sola columna */
    }


    .apartados_index {
        display: none;
    }
}

@media (max-width: 575.20px) {

    #menu_hamburguesa {
        display: inline-block;
    }
}

/*Agendar cita*/

#banner_cita {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
}

#boton_cita {
    display: block;
    position: relative;
    top: 130px;
    left: 735px;
    height: 160px;
    width: 1030px;
}

/*CONTÁCTANOS*/

#contenedor__contactanos {
    justify-content: center;
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
}

.titulo_contactanos {
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 300px;
}

#formulario_contactanos {
    display: flex;
    position: relative;
    flex-direction: column;
}

.form-control {
}

.input-group-text {
    background-color: transparent;
}

#boton_enviar_contactanos {
    background-color: #231F20;
    color: #FFFFFF;
    border: solid 2px transparent;
}

#boton_enviar_contactanos:hover {
    background-color:#FFFFFF ;
    color: #231F20;
    border: solid 2px #231F20;
}

footer {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

#demo {
    border: 2px solid transparent;
}

.forms{
    margin:-50px 500px !important;
    border-radius: 50px !important;
    padding: 30px !important;
    border: 2px solid #D9D9D9;
}

.boton_guardar_formulario {
    background-color: #8F82B7 !important;
    border:2px solid transparent !important;
    margin-left: 200px !important;
}

.categorias_catalogo {
    margin: 0;
}