{% extends 'tienda/base.html' %}
{% load static %}
{% block title %}Mis ventas{% endblock %}
{% block contenedor %}

{% if data %}
<table class="table table-hover m-3">
    <tr>
        <th>ID</th>
        <th>Fecha de la venta</th>
        <th>Acciones</th>
    </tr>
    {% for c in data %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.fecha_venta }}</td>
        <td>
            <button role="button" aria-expanded="false" aria-controls="collapseExample" type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#detalles_{{ c.id }}">Detalles</button>
        </td>
    </tr>
    <tr>
        <div id="detalles_{{ c.id }}" class="collapse">
            {% for d in detalle %}
                {% if c.id == d.venta %}
                    <h1>Hola: {{ c.id }}: {{ d.producto }}</h1>
                {% endif %}
            {% endfor %}
        </div>
    </tr>
    {% endfor %}
</table>

    <script>
        function confirmar_eliminar(id, url) {
            if (confirm("¿Estás seguro de que deseas eliminar este pedido?")) {
                window.location.href = url;
            }
      }
    </script>
</body>
</html>
{% endif %}

{% endblock %}