{% extends 'tienda/base.html' %}
{% load static %}
{% block title %} Perfil {% endblock %}
{% block contenedor %}

<div class="card mb-3" style="max-width: 540px; margin-left: 35%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ request.session.logueo.foto }}" class="img-fluid rounded-start" alt="..." style="width: 200px; height: 200px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ request.session.logueo.nombre }}</h5>
        <p class="card-text">Rol: {{ request.session.logueo.nombre_rol }} </p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}