{% extends 'tienda/base.html' %}
{% load static %}
{% block title %} Crear Usuario {% endblock %}
{% block contenedor %}

{% if id %}
    <h3>Editar: {{ data.id }}</h3>
{% else %}
    <h3 class="m-3">Crear: </h3>
{% endif %}

<br> <br>
<form method="post" action="{% url 'tienda:usuarios_guardar' %}">
    {% csrf_token %}
    <div class="input-group m-3">
        <span class="input-group-text"><i class="bi bi-hash"></i></span>
        <input class="form-control" type="text" name="id" value="{{ data.id }}" readonly>
    </div>
    <div class="input-group m-3" width="600px">
        <span class="input-group-text"><i class="bi bi-file-person-fill"></i></span>
        <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{ data.nombre }}">
    </div>
    <div class="input-group m-3" width="600px">
        <span class="input-group-text"><i class="bi bi-file-person-fill"></i></span>
        <input type="text" class="form-control" placeholder="Apellido" name="apellido" value="{{ data.apellido }}">
    </div>
    <div class="input-group m-3" width="600px">
        <span class="input-group-text"><i class="bi bi-file-person-fill"></i></span>
        <input type="text" class="form-control" placeholder="Nick" name="nick" value="{{ data.nick }}">
    </div>
    <div class="input-group m-3" width="600px">
        <span class="input-group-text"><i class="bi bi-file-person-fill"></i></span>
        <input type="text" class="form-control" placeholder="Password" name="password" value="{{ data.password }}">
    </div>
    <div class="input-group m-3">
        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
        <input type="text" class="form-control" placeholder="Rol" name="rol" value="{{ data.rol }}">
    </div>

    <br>
     {% if id %}
        <button type="submit" class="btn btn-primary m-3">Actualizar</button>
    {% else %}
        <button type="submit" class="btn btn-primary m-3">Crear</button>
    {% endif %}
</form>

{% endblock %}