{% extends 'tienda/base.html' %}
{% load static %}
{% block title %}Usuarios{% endblock %}
{% block contenedor %}

    <div>
        <nav aria-label="breadcrumb" id="miga">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
              <li class="breadcrumb-item">Usuarios</li>
              <li class="breadcrumb-item active" aria-current="page">Listar usuarios</li>
            </ol>
        </nav>
    </div>


<form class="d-flex" role="search" method="post" action="#">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar"
           value="{{ buscado }}">
    <a class="btn btn-outline-success" href="" type="button"><i
            class="bi bi-arrow-left-square"></i></a>
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>

{% if data %}
<table class="table table-hover m-3">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nickname</th>
        <th>Password</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
    {% for u in data %}
    <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.apellido }}</td>
        <td>{{ u.nick }}</td>
        <td>{{ u.password }}</td>
        <td>{{ u.rol }}</td>
        <td>
            <a href="{% url 'tienda:usuarios_editar' u.id %}" class="btn btn-info">Editar</a>
            <a href="javascript:confirmar_eliminar('{% url 'tienda:usuarios_eliminar' u.id %}');"
               class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only"></span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
    <script>
        function validarUsuario(){
            let u = document.getElementById("usuario").value;
            let c = document.getElementById("contraseña").value;
            if (u == "admin") {
                if (c == "admin12345") {
                    window.open("inicioAdmin.html")
                }
            }
            else if (u == "empleado") {
                if (c == "empleado12345") {
                    window.open("inicioEmpleado.html")
                }
            }
        }
    </script>
</body>
</html>
{% endif %}

{% endblock %}
