{% extends 'tienda/base.html' %}
{% load static %}
{% block title %} Crear Cita {% endblock %}
{% block contenedor %}

<style>

    .formulario_contenedor {
        padding: 30px;
        background-color: #8F82B7;
        width: 600px;
        margin-left: 30%;
        border-radius: 50px;
        box-shadow: 0 0 20px gray;
    }

    label {
        color: white
    }

    input, select {
        width: 500px !important;
    }

    .enviar_formulario {
        background-color: #FFFFFF;
        border: 2px solid transparent;
        color: #8F82B7;
    }

    .enviar_formulario:hover {
        background-color: #8F82B7;
        color: #000000;
        border: 2px solid #000000;
    }

</style>

{% if id %}
    <h3>Editar: {{ data.id }}</h3>
{% else %}
    <h3 class="m-3">Crear: </h3>
{% endif %}

<div class="formulario_contenedor">
    <form method="post" action="{% url 'tienda:citas_guardar' %}" class="forms">
    {% csrf_token %}
    <div class="mb-3" hidden>
        <label class="form-label">ID de la Cita:</label>
        <input class="form-control" type="text" name="id" value="{{ data.id }}" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha de la Cita:</label>
        <input type="date" class="form-control" placeholder="Fecha de la Compra" name="fecha_compra" value="{{ data.fecha_compra|date:'Y-m-d' }}">
    </div>
     <div class="mb-3">
         <label class="form-label">Servicio de la Cita:</label>
         <select name="servicio" class="form-control">
            <option value="">Seleccione:</option>
            {% for s in servicio %}
                <option value="{{ s.id }}" {% if data.servicio.id == s.id %}selected=""{% endif %}>{{ s.descripcion }}</option>
            {% endfor %}
         </select>
         <div class="form-text">Recuerda que la categoría es la clasificación de tu producto.</div>
     </div>
     <div class="mb-3">
         <label class="form-label">Precio de la Cita:</label>
         <input type="number" class="form-control" placeholder="Precio" name="precio" value="{{ data.precio }}">
     </div>
    <div class="mb-3">
        <label class="form-label">Cliente de la Cita:</label>
        <select name="usuario" class="form-control">
            <option value="">Seleccione:</option>
            {% for u in usuario %}
                <option value="{{ u.id }}" {% if data.usuario.id == u.id %}selected=""{% endif %}>{{ u.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <br>

            {% if id %}
                <button type="submit" class="btn btn-primary enviar_formulario">Actualizar</button>
            {% else %}
                <button type="submit" class="btn btn-primary enviar_formulario">Crear</button>
            {% endif %}
</form>
</div>


{% endblock %}